absl-py==0.13.0
astor==0.8.1
bleach==1.5.0
certifi==2021.5.30
chardet==3.0.4
dataclasses==0.8
gast==0.5.0
grpcio==1.38.1
html5lib==0.9999999
idna==2.7
importlib-metadata==4.6.1
Markdown==3.3.4
mido==1.2.10
numpy==1.15.3
pretty-midi==0.2.9
protobuf==3.17.3
pypianoroll==0.5.0
requests==2.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tqdm==4.28.1
typing-extensions==3.10.0.0
urllib3==1.24.3
Werkzeug==2.0.1
zipp==3.5.0
