.vscode/

__pycache__/

dist/
build/
env/
.env/
*.manifest
*.spec

tmp/
results/
df/
trash/
not_git/
lstm/
old_results_lstm/
lstm_*_redo_loop/

.ipynb_checkpoints/
*.ipynb


*.csv

train_and_predict_redo_tmp_*.py
My_loop.txt

*.html
*.txt
.*yaml